[Desktop Entry]
Type=Application
Name=Install Shrek OS
Comment=Install Shrek OS to this computer
Exec=shrek-install-calamares
Icon=/usr/share/shrek/branding/shrek-os-logo-256.png
Terminal=false
Categories=System;
