:root {
  --shrek-swamp-ink: #12120F;
  --shrek-green: #B1E731;
  --shrek-deep-moss: #26351D;
  --shrek-moss: #536B32;
  --shrek-lichen: #91A85A;
  --shrek-onion-paper: #D8D2BF;
  --shrek-fog: #989A91;
  --shrek-swamp-water: #4F9185;
  --shrek-torch-amber: #D99A38;
  --shrek-rust-red: #C95143;
}
